html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}
 
#leftCol {
    width: 14em;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

/* This works, ref: http://dojotoolkit.org/reference-guide/1.8/dijit/layout.html
 mainDiv is outer most div
 */
html, body, #mainDiv {
    width: 100%; height: 100%;
    border: 0; padding: 0; margin: 0;
}

.menu_heading {
  font-weight: bold;
}
 

.window_mins {
    min-width: 1024px;
    min-height: 600px;
}
.window_top_mins {
    min-width: 1024px;
    min-height: 400px;
}

.window_top_height {
    height: 60%;
}

.window_top_width {
    width: 30%;
}

.window_bottom_width {
    width: 60%;
}

#appLayout {
    height: 100%;
}
#topArea {
    height: 60%;
}
#bottomArea {
    height: 600px;
    margin: 0;
    padding: 0;
}

.red {
    color:red;
}

.blue {
    color:blue;
}

.opened {
    background-image:url("../data/icons/designs/ic_action_overflow.png");
}
.download {
    background-image:url("../data/icons/download.ico");
}
.closed {
    background-image:url("../data/icons/designs/ic_action_locate.png");
}

/* Buttons
*/
.staticResource {
  min-height: 35px;
  background-color: rgb(139, 139, 139);
}

.templatedResource {
  min-height: 35px;
  background-color: rgb(35, 225, 85);
}
.templatedResource:hover {
  min-height: 35px;
  background-color: rgb(65, 255, 115);
}
.collectionResource {
  min-height: 35px;
  background-color: rgb(65, 105, 225);
  font-weight: bold;
}
.collectionResource:hover {
  cursor: pointer; /* cursor: hand; for IE5 */
  background-color: rgb(95, 135, 255);
}
.individualResource {
  min-height: 35px;
  background-color: rgb(95, 135, 225);
  font-weight: bold;
}
.individualResource:hover {
  cursor: pointer; /* cursor: hand; for IE5 */
  background-color: rgb(125, 165, 255);
}
.customResource {
/*
    # Orange
*/
  min-height: 35px;
  background-color: rgb(255, 127, 80);
  font-weight: bold;
}
.customResource:hover {
  cursor: pointer; /* cursor: hand; for IE5 */
  background-color: rgb(255, 157, 110);
}
.partialResource {
/*
    # Indigo purple
*/
  min-height: 35px;
  background-color: rgb(147, 112, 219);
  font-weight: bold;
}
.partialResource:hover {
  cursor: pointer; /* cursor: hand; for IE5 */
  background-color: rgb(177, 142, 249);
}
.addButton {
/*
    # Red
*/
  min-height: 30px;
  color: rgb(139, 0, 0);
  font-weight: bold;
  /*font-size: 100%;*/
}

.delButton {
  max-height: 7px;
  background-color: white;
  color: red;
}

.newBranch {
  min-height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(200,200,200);
}
.rootButton {
    background-color: White;
}
.addButton:hover {
  cursor: pointer; /* cursor: hand; for IE5 */
  color: rgb(169, 30, 30);
}

#resourcesList {
   list-style: none;
   margin: 5px;
   padding: 5px;
}
#resourcesList li {
    margin-bottom: 12px;
}

/* Hidden */
.hidden {
    visibility: hidden;
}

.boldFont {
  font-weight: bold;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.floatTop {
  float: top;
}

.collapse {
  visibility: collapse;
}
.visible {
  visibility: visible;
}

.whiteBg {
  background-color: white;
}

/* ER classes */
.classesList {
    border: 1px;
    background-color: rgb(230, 230, 230);
}

/* Tables */
.classTable_greycell {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
.classTable_greycell th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
.classTable_greycell td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

table.classTable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    position: absolute;
}
table.classTable th {
    background:#b5cfd2 url('../data/images/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.classTable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

/* Form Dialog styles */

.form_margin_left {
    margin-left: 40px;
}

.form_border {
    border-style:solid;
    border-width:1px;
    border-width: 4px;
    border-color: rgb(200,200,200);
}

#NRDialog_underlay {
  background-color: green;
}

.erSize {
  width: 400px;
  height: 400px;
}

.absolute {
  position: absolute;
}

.zeroPosition {
  top: 0px;
  left: 0px;
}

