<div>
	<h5>Drag n Drop Resources</h5>
	<p>
		Drop resource into the designer on the left to create a new URI branch.
	</p>
	<h5>URI Elements</h5>
	<p>
		Placeholder: A simple URI element that supports no method. 
		<br />
		Static: A URI element to simply serve static URI data in the form of JSON e.g. contact_us page
		<br />
		Param: A custom resource, you can set as a placeholder URI element or a 'template' parameter input.
		<br />
        - e.g. some.com/{user_id}
		<br />
		<br />
    Add any HTTP method and configure it.
		<br />
    Use to create URI Elements of archetypes Controller, Processing Function, Placeholder, and template parameter.
	</p>
</div>
