<span class="floatTop">
<button class="collectionResource floatLeft" data-dojo-attach-point="spanNode">
	<div data-dojo-attach-point="tooltipdialog" data-dojo-type="dijit/TooltipDialog" title="Temapl">
		<h4>Configure</h4>
		<p data-dojo-attach-point="errorNode" class="hidden" style="color: red; max-width: 400px"></p>
		<label for="resource_id">Identifier:</label> 
		<span style="width: 100px" data-dojo-attach-point="resource_id"
			data-dojo-type="dijit/InlineEditBox" disabled>Class Name Edit</span>
	</div>
</button>
<button data-dojo-type="dijit/form/Button" class="floatLeft"
        data-dojo-attach-point="branchButton">/</button>
</span>
