<span class="floatTop">
<button class="individualResource floatLeft" data-dojo-attach-point="spanNode">
	<div data-dojo-attach-point="tooltipdialog" data-dojo-type="dijit/TooltipDialog" title="Temapl">
		<h4>Configure</h4>
		<p data-dojo-attach-point="errorNode" class="hidden" style="color: red; max-width: 400px"></p>
		<form data-dojo-type="dijit/form/Form">
			<label for="resource_id">Identifier:</label> 
			<span style="width: 100px" data-dojo-attach-point="resource_id" 
				data-dojo-type="dijit/InlineEditBox" disabled>Class Name Edit</span>
			<hr/>
			<br />
			<label for="selectRep">Representation select:</label>
			<select name="selectRep" data-dojo-type="dijit/form/Select" data-dojo-attach-point="selectRep">
			</select>
			<div data-dojo-type="dijit/form/Button" data-dojo-attach-point="createButton">Create</div>
			<br />
			<hr />
			<div data-dojo-attach-point="methodWidget" data-dojo-type="rfd/widget/MethodWidget" />
		</form>
	</div>
</button>
<button data-dojo-type="dijit/form/Button" class="floatLeft"
        data-dojo-attach-point="branchButton">/</button>
</span>
