<span class="floatTop">
<button class="customResource floatLeft" data-dojo-attach-point="spanNode">
	<div data-dojo-attach-point="tooltipdialog" data-dojo-type="dijit/TooltipDialog" title="Temapl">
		<h4>Configure</h4>
		<p data-dojo-attach-point="errorNode" class="hidden" style="color: red; max-width: 400px"></p>
		<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="form">
			<label for="resource_id">Identifier:</label> 
			<span style="width: 100px" data-dojo-attach-point="resource_id"
			data-dojo-type="dijit/InlineEditBox">Class Name Edit</span>
			<hr/>
			<!--
			<select data-dojo-attach-point="typeNode" data-dojo-type="dojox/form/CheckedMultiSelect">
				<option value="param">Input param</option>
				<option value="param">Url end point</option>
			</select>
			-->
				<input type="radio" name="type" value="param" checked data-dojo-attach-point="paramButton"
			            data-dojo-type="dijit/form/RadioButton" />
				<label >Input param</label>
				<input type="radio" name="type" value="endpoint" data-dojo-attach-point="endpointButton" 
			            data-dojo-type="dijit/form/RadioButton" />
				<label >Restful endpoint</label>

			<br/>
			<br/>
			<span data-dojo-attach-point="paramNode">
			    <select  name="paramSelect" data-dojo-attach-point="paramSelect"  data-dojo-type="dijit/form/Select">
    				<option value="string" select>String</option>
    				<option value="integer">Integer</option>
    				<option value="decimal">Decimal</option>
			    </select>
				<label for="regex">Regular expression:</label>
				<input type="text" name="regex" data-dojo-attach-point="regex" 
			            data-dojo-type="dijit/form/TextBox" />
			</span>
			<br/>
			<span data-dojo-attach-point="methodNode" style="visibility: collapse;">
				<label for="method">Method</label>
			    <select  name="method" data-dojo-attach-point="methodSelect"  data-dojo-type="dijit/form/Select">
    				<option value="POST" select>POST</option>
    				<option value="PUT">PUT</option>
    				<option value="GET">GET</option>
    				<!--
    					<option value="DELETE">DELETE</option>
    					<option value="CREATE">CREATE</option>
    				-->
			    </select>
			</span>
		</form>
	</div>
</button>
<button data-dojo-type="dijit/form/Button" class="floatLeft"
        data-dojo-attach-point="branchButton">/</button>
</span>
