<div>
	<h5>Drag n Drop</h5>
	<p>
		Drop resource into the designer here to create branch.
		<br />
		Double click a branch to delete it.
		<br />
		Right click on '/' button on URL element for context menu.
	</p>
	<h5>URI Element</h5>
	<p>
		Hover mouse over URI Element (colour-ised) to bring out configuration menu for element.
		<br />
		Hover mouse out of configuration menu to close it.
		<br />
		<br />
		Click '/' button to create new sub-branch
		<br />
		Right click '/' button to bring context menu: 'Add new sub branch', 'Delete URI element'
		<br />
		Double URI element to delete it without context menu
	</p>
</div>