<div>
	<!-- TODO replace with img or img/icon background
	<button data-dojo-attach-point="propertyButton" data-dojo-type="dijit/form/Button"
		data-dojo-attach-event="onclick:_onPropertyButtonClick">+ P</button>
	<button data-dojo-attach-point="belongsButton"
		data-dojo-attach-event="onclick:_onBelongsButtonClick">+ R</button>
	-->
	<!-- TODO hide the buttons here -->
	<table class="${baseClass}" 
			data-dojo-attach-point="containerNode">
		<th data-dojo-attach-point="header">
			<label data-dojo-attach-point="titleNode"
					class="boldFont" >class_name</label>
			<div data-dojo-attach-point="dropdown" data-dojo-type="dijit/form/DropDownButton">
				<span>edit</span>
				<div data-dojo-type="dijit/TooltipDialog" >
					<p data-dojo-attach-point="errorNode" class="hidden" style="color: red;"></p>
					<h4>Class</h4>
			        	<label for="classname">Name:</label> 
			        	<span style="width: 100px" data-dojo-attach-point="classname"
			        	data-dojo-type="dijit/InlineEditBox">Class Name Edit</span>
					<hr/>
					<h4>Add new Property</h4>
					<form class="myForm" data-dojo-attach-point="form" data-dojo-type="dijit/form/Form" action="" method="">
			        	<label for="name">Name:</label> 
			        	<input style="width: 80px" data-dojo-attach-point="name" 
			        	class="inputbox" type="text" data-dojo-props="regExp:'[\\w]+'"
			        	data-dojo-type="dijit/form/ValidationTextBox" name="name" />
			        	<label for="type">Type:</label> 
			        	<select  name="type" data-dojo-attach-point="typeSelect"  data-dojo-type="dijit/form/Select">
    						<option value="string" select>String</option>
    						<option value="integer">Integer</option>
    						<option value="decimal">Decimal</option>
    						<option value="enum">Enumeration</option>
    						<option value="phone">Phone</option>
			        	</select>
			        	<div>
			        	<span data-dojo-attach-point="spanNode" class="hidden">
			        		<label for="enumInput">Define enum values:</label> 
			        		<input style="min-width: 120px" class="inputbox" 
			        			data-dojo-type="dijit/form/ValidationTextBox"
			        			type="text" data-dojo-attach-point="enumInput" name="enumInput" />
			        	</span>
			        	<br />
			        	<button data-dojo-attach-point="propertyNode"  
			        		data-dojo-type="dijit/form/Button" type="submit">Add</button>
			        </form>
			        <hr/>
					<h4>Relationships</h4>
			        <!-- Add multi select here -->
			        <label for="relations">belongs to: </label> 
					<select name="relations" style="min-wdith: 70px" 
						data-dojo-type="dijit/form/MultiSelect"
						data-dojo-attach-point="belongsSelect">
    					<option value="custom">dummy</option>
    					<option value="custom1">dummy1</option>
    					<option value="custom2">dummy2</option>
    					<option value="custom3">dummy3</option>
						<!--
    				-->
					</select>
				</div>
			</div>
		</th>
		<tr class="collapse" data-dojo-attach-point="belongsRowNode">
			<td>
				<b><span>belongs to:</span><span data-dojo-attach-point="belongsNode"></span></b>
			</td>
		<tr/>
	</table>
	<!-- TODO dijit in template does not work, init it in post create 
	<div data-dojo-type="dijit/form/DropDownButton">
		<span>Register</span>
		<div data-dojo-type="dijit/TooltipDialog">
			        <label for="name2">Name:</label> <input data-dojo-type="dijit/form/TextBox" id="name2" name="name2" /><br />
			        <label for="hobby2">Hobby:</label> <input data-dojo-type="dijit/form/TextBox" id="hobby2" name="hobby2" /><br />
			        <button data-dojo-type="dijit/form/Button" type="submit"
			        	>Add new Property</button>
			        <button data-dojo-type="dijit/form/Button" type="submit">Save</button>
		</div>
	</div>
	-->
</div>