<div>
	<h5>Entity or Domain Class Creation</h5>
	<p>
		New Entity: Right click on the canvas/background and select 'Create new concept'.
		<br />
    Configuring the entity, click on the 'edit' button to bring up the edit menu.
    <ol>
    <li>
      - Name of entity is editable.
    </li>
    <li>
      - Adding new property by entering the property name and selecting the data type.
    </li>
    <li>
      - Selecting the 'belongs to' entity, the select entity is on the one side of one-many relationship
    </li>
    </ol>
    Double click on the property row - highlighted on mouse over - to delete the property.
    <br />
    The 'id' property cannot be deleted.
	</p>
</div>
