<div>
	<!-- TODO replace with img or img/icon background -->
	<button data-dojo-attach-point="propertyButton" data-dojo-type="dijit/Form/Button"
		data-dojo-attach-event="onclick:_onPropertyButtonClick">+ P</button>
	<button data-dojo-attach-point="belongsButton"
		data-dojo-attach-event="onclick:_onBelongsButtonClick">+ R</button>
	<!-- TODO hide the buttons here -->
	<table class="${baseClass}" 
			data-dojo-attach-point="containerNode">
		<th data-dojo-attach-point="header">Class Name
			<div data-dojo-attach-point="dropdownNode">
				<span>edit</span>
				<div data-dojo-attach-point="tooltipNode" >
					<h4>Add new Property</h4>
			        <label for="name">Name:</label> <input style="width: 100px" class="inputbox" type="text" id="name" name="name" />
			        <label for="type">Type:</label> 
			        <select  name="type" >
    					<option value="string">String</option>
    					<option value="integer">Integer</option>
    					<option value="decimal">Decimal</option>
    					<option value="enum">Enumeration</option>
			        </select>
			        <br/>
			        <label  class="hidden" for="enumInput">Define enum values:</label> <input style="min-width: 120px" class="inputbox hidden" type="text" id="enumInput" name="enumInput" />
			        <br />
			        <button data-dojo-attach-point="propertyNode" type="submit"
			        	>Add</button>
			        <hr>
					<h4>Relationships</h4>
			        <!-- Add multi select here -->
			        <label for="relations">Belongs to:</label> 
					<select name="relations">
    					<option value="custom">dummy</option>
    					<option value="custom1">dummy1</option>
    					<option value="custom2">dummy2</option>
    					<option value="custom3">dummy3</option>
					</select>
				</div>
			</div>
		</th>
		<tr class="dojoDndItem">
			<td>name: String</td>
		</tr>
	</table>
	<!-- TODO dijit in template does not work, init it in post create 
	<div data-dojo-type="dijit/form/DropDownButton">
		<span>Register</span>
		<div data-dojo-type="dijit/TooltipDialog">
			        <label for="name2">Name:</label> <input data-dojo-type="dijit/form/TextBox" id="name2" name="name2" /><br />
			        <label for="hobby2">Hobby:</label> <input data-dojo-type="dijit/form/TextBox" id="hobby2" name="hobby2" /><br />
			        <button data-dojo-type="dijit/form/Button" type="submit"
			        	>Add new Property</button>
			        <button data-dojo-type="dijit/form/Button" type="submit">Save</button>
		</div>
	</div>
	-->
</div>