<div>
<select id="NRSelect" name="type">
    <option value="static">Static Resource</option>
    <option value="templated">Template Resource</option>
    <option value="custom">Custom Resource</option>
</select>
<hr/>
<div id="NRStack" data-dojo-type="dijit/layout/StackContainer" style="min-width: 400px; min-height:300px">
    <div id="NRstatic" data-dojo-type="dijit/layout/ContentPane" title="New Static resource">
		<div data-dojo-type="dijit/form/Form" id="staticForm" action="" method="">
        	<label>Identifier:</label>
        	<input type="text" name="name" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
        	<br/>
            <hr/>
        	<div style="float: right">
				<button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
			</div>
        </div>
    </div>
    <div id="NRtemplated" data-dojo-type="dijit/layout/ContentPane" title="New Templated resource">
		<div data-dojo-type="dijit/form/Form" id="templatedForm" action="" method="">
            <div>
        	   <label>Identifier:</label>
        	   <input type="text" name="name" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
            </div>
            <div>
                <label>JSON Document</label>
                </br>
                <div id="json_doc" name="json_doc" 
                    style="min-width:100%; min-height: 100%"
                    data-dojo-type="dijit/form/Textarea">
                </div>
            </div>
        	<hr/>
        	<div style="float: right">
				<button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
			</div>
        </div>
    </div>
    <div id="NRcustom" data-dojo-type="dijit/layout/ContentPane" title="New Custom resource">
		<div data-dojo-type="dijit/form/Form" id="customForm" action="" method="">
            <div style="height: 100%">
               <label>Templated Identifier:</label>
               <input type="text" name="name" required="true" data-dojo-type="dijit/form/ValidationTextBox"
                style="width: 160px;"/>
                <br />
               <label for="selectTemplateType">Type:</label>
                <select data-dojo-type="dijit/form/Select" id="selectTypeVerify" name="selectTemplateType">
                        <option value="string" selected>String</option>
                        <option value="integer" >Integer</option>
                        <option value="decimal" >Decimal</option>
                </select>
               <!--
                <input  data-dojo-attach-point="checkTemplateParam" name="checkTemplateParam" 
                    value="templatedParam"
                    data-dojo-type="dijit/form/CheckBox"
                    data-dojo-props="checked: =true">Has Paging</input>
                <span id="typeVerify">
                    <select data-dojo-type="dijit/form/Select" id="selectTypeVerify">
                        <option value="string" selected>String</option>
                        <option value="integer" >Integer</option>
                        <option value="decimal" >Decimal</option>
                    </select>
                    <input type="text" name="typeRegex" required="true" data-dojo-type="dijit/form/ValidationTextBox"/>
                </span>
                <br />
                <select name="type" data-dojo-type="dijit/form/Select">
                    <option value="NONE" selected>No Method</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                    <option value="GET">GET</option>
                </select>
                -->
            </div>
            <hr style="float: bottom;"/>
        	<div style="float: bottom right;">
				<button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
			</div>
        </div>
    </div>
    <div id="NRpartial" data-dojo-type="dijit/layout/ContentPane" title="New Partial resource">
		<div data-dojo-type="dijit/form/Form" id="partialForm" action="" method="">
            <div>
               <label>Identifier:</label>
               <label class="id_label" type="text" name="name"/>
            </div>
            <div>
                <label>Concept: </label>
                <select name="entity_id" data-dojo-type="dijit/form/Select"></select>
            </div>
            <div>
                <select id="property_select" name="property_select"></select>
                <button id="custom_prop_add" data-dojo-type="dijit/form/Button">Add</button>
            </div>
            <hr/>
        	<br/>
            <div style="float: right">
                <button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
            </div>
        </div>
    </div>
    <div id="NRcollection" data-dojo-type="dijit/layout/ContentPane" title="New Collection resource">
		<div data-dojo-type="dijit/form/Form" id="collectionForm" action="" method="">
            <div>
               <label>Identifier:</label>
               <label class="id_label" type="text" name="name"/>
            </div>
            <div>
                <label for="entity_id">Concept: </label>
                <select name="entity_id" data-dojo-type="dijit/form/Select"></select>
            </div>
        	<br/>
            <hr/>
            <div style="float: right">
                <button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
            </div>
        </div>
    </div>
    <div id="NRentity" data-dojo-type="dijit/layout/ContentPane" title="New Concept resource">
        <div data-dojo-type="dijit/form/Form" id="entityForm" action="" method="">
            <div>
               <label>Identifier:</label>
               <label class="id_label" type="text" name="name"/>
            </div>
            <div>
                <label>Concept: </label>
                <select name="entity_id" data-dojo-type="dijit/form/Select"></select>
            </div>
            <hr/>
            <br/>
            <div style="float: right">
                <button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
            </div>
        </div>
    </div>
    <!--Purely in here because of odd error on parsing the template -->
    <div id="NRconcept" data-dojo-type="dijit/layout/ContentPane" title="New Concept resource">
		<div data-dojo-type="dijit/form/Form" id="conceptForm" action="" method="">
            <div>
               <label>Identifier:</label>
               <label class="id_label" type="text" name="name"/>
            </div>
            <div>
                <label>Concept: </label>
                <select name="entity_id" data-dojo-type="dijit/form/Select"></select>
            </div>
            <br/>
            <div style="float: right">
                <button data-dojo-type="dijit/form/Button" type="submit" >OK</button>
            </div>
        </div>
    </div>
</div>    
</div>
