<select name="type" data-dojo-type="dijit/form/Select">
    <option value="static">Static Resource</option>
    <option value="template">Template Resource</option>
    <option value="custom">Custom Resource</option>
</select>
<div data-dojo-type="dijit/layout/StackContainer">
    <div data-dojo-type="dijit/layout/ContentPane" title="Questions">
        Please answer following questions
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="Answers">
        Here is what you should have answered :P
    </div>
</div>