<button class="templatedResource floatLeft" data-dojo-attach-point="spanNode">
	<div class="hidden" class="visibility: collapse" data-dojo-attach-point="tooltipdialog" data-dojo-type="dijit/TooltipDialog">
		<label>Configure:</label>
		<p data-dojo-attach-point="errorNode" class="hidden" style="color: red;"></p>
		<label for="resource_id">ID:</label> 
		<span style="width: 100px" data-dojo-attach-point="resource_id"
			data-dojo-type="dijit/InlineEditBox">Class Name Edit</span>
	</div>
</button>
